<!-- Login css file -->
<link href="{{App.Path.Assets}}/css/login.css" rel="stylesheet"> 

<div id="login-container">
	
	
	<div id="login-header">
		
	<h3>Lost Password</h3>
		
	</div> <!-- /login-header -->
	
	<div id="login-content" class="clearfix">
            
                <!-- Errors Will be displayed in herrrrre -->
                {{%include @PageError}}
        
                    <form method="POST">
                        
                        <fieldset>
                            <div class="control-group">
                                    <label class="control-label">Email</label>
                                    <div class="controls">
                                            <input type="text" class="" name="Email">
                                    </div>
                            </div>
                        </fieldset>
                        
                        <div class="pull-right">
                            <button type="submit" class="btn btn-warning btn-large">Find Password</button>
			</div>
		     </form>
			
	</div> <!-- /login-content -->
		
		
		<div id="login-extra">
			<p><a href="{{App.Url.Module}}/login/">Login</a></p>
		</div> <!-- /login-extra -->
	
</div> <!-- /login-wrapper -->