#-------------------------------------------------------------------------------
#                         VoodooPHP 2.0 .htaccess
# This is the htaccess for /
# Since Jun 25,2012 16:06
#-------------------------------------------------------------------------------


IndexIgnore .htaccess * */.??* *~ *# */HEADER*  */README* */_vti*

<Limit GET POST>
    order deny,allow
    deny from all
    allow from all
</Limit>

<Limit PUT DELETE>
    order deny,allow
    deny from all
</Limit>


# Block access to .git folder if exists
RedirectMatch 404 /\\.git(/.*|$)

# Prevent  all .ini file from being accessed
RedirectMatch 404 /*\\.ini(/.*|$)

Options +FollowSymlinks
RewriteEngine on


# ReWritebase
# If your application is place inside of another directory, let's say MyVoodooDir
# change the RewriteBase below to RewriteBase /MyVoodooDir
RewriteBase /



#-------------------------------------------------------------------------------

# Force URL to end with trailing slash /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,NC,R=301]


#-------------------------------------------------------------------------------

# Goodies: Minify
# To minify and cache JS or CSS file
# Require AddOn: Minify (https://mardix.github.com/Soup-AddOn)
# RewriteRule ^(.*\.(css|js))$ /BaseAssets/goodies/minify.php?file=$1 [L,NC]

# Goodies: ReCaptcha
# To create re captcha
# Require AddOn: ReCaptcha (https://mardix.github.com/Soup-AddOn)
# RewriteRule captcha.png /BaseAssets/goodies/recaptcha.php [L,NC]

#-------------------------------------------------------------------------------

# Soup Router: everything is routed to index.php. Except for statics file -
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.(js|css|gif|jpg|jpeg|png|ico|swf|pdf)$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,NC]

#-------------------------------------------------------------------------------

#
# Redirect to non WWW
# If people enter your site as WWW, the will be redirected to the non WWW
#RewriteCond %{HTTP_HOST} ^www\.(.*)
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

