<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Voodoo by mardix</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Voodoo</h1>
        <h2></h2>
        <a href="https://github.com/mardix/Voodoo" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>
<a name="voodoo-1xx" class="anchor" href="#voodoo-1xx"><span class="octicon octicon-link"></span></a>Voodoo 1.x.x</h1>

<h4>
<a name="a-simple-easy-intuitive-php-framework-for-those-who-keep-it-simple" class="anchor" href="#a-simple-easy-intuitive-php-framework-for-those-who-keep-it-simple"><span class="octicon octicon-link"></span></a>A Simple, Easy, Intuitive PHP Framework for Those Who Keep It Simple</h4>

<hr><p>Name: Voodoo</p>

<p>License: MIT</p>

<p>Design: Modular MVC</p>

<p>Requirements: PHP 5.4</p>

<p>Compliance: PSR-2</p>

<p>Author: <a href="http://github.com/mardix">Mardix</a></p>

<p>Copyright: This Year - Mardix</p>

<p><a href="http://voodoophp.org">VoodooPHP.org</a></p>

<p><a href="https://groups.google.com/d/forum/voodoophp/">Forums</a></p>

<p><em>This is an overview of Voodoo, please go to <a href="http://voodoophp.org">VoodooPHP.org</a> for a complete documentation of the framework</em></p>

<hr><h2>
<a name="about-voodoo" class="anchor" href="#about-voodoo"><span class="octicon octicon-link"></span></a>About Voodoo!</h2>

<p>Voodoo is Modular MVC framework written in PHP. Its main goal is to ensure separation of concerns by keeping your code organized and avoid mixing database calls, HTML tags and business logic in the same script.</p>

<p>Voodoo, first, organize your application into subset of MVC structure which are independent from other one. These subsets are called Modules. Modules can be an admin section, the main site, intranet, or can be used for A/B testing.</p>

<p>Modules improve maintainability by enforcing logical boundaries between components. By being Modular, Voodoo allows developers/designers to work on individual module at the same time, thus making development of program faster. New features or new sections can be implemented quickly without changing other sections. And when it's no longer needed, the module can be deleted and everything is still gravy.</p>

<hr><h3>
<a name="features-highlight" class="anchor" href="#features-highlight"><span class="octicon octicon-link"></span></a>Features Highlight</h3>

<ul>
<li>Slim</li>
<li>RESTful</li>
<li>API ready</li>
<li>MVC</li>
<li>Shared Application</li>
<li>Modular MVC</li>
<li>Namespaced</li>
<li>PSR compliant</li>
<li>Front Controller</li>
<li>Templates</li>
<li>Mustache Template</li>
<li>Smart Routing</li>
<li><a href="https://github.com/mardix/VoodOrm">VoodOrm</a></li>
<li>Annotation</li>
<li><a href="https://github.com/mardix/Paginator">Paginator</a></li>
<li>Bootstrap CSS/JS framework</li>
<li>HTTP Request</li>
<li>Voodooist (generate code on the fly)</li>
</ul><hr><h2>
<a name="install-voodoo-with-composer" class="anchor" href="#install-voodoo-with-composer"><span class="octicon octicon-link"></span></a>Install Voodoo with Composer</h2>

<p>To install Voodoo, create or edit the <strong>composer.json</strong> file, and add the code below in the 'require':</p>

<pre><code>"voodoophp/voodoo": "1.*"
</code></pre>

<p>Your composer.json file should look something similar to this:</p>

<pre><code>{
    "name": "voodoophp/myapp",
    "description": "My awesome Voodoo App",
    "require": {
        "voodoophp/voodoo": "1.*"
    }
}
</code></pre>

<p>then run the command below to download Voodoo and its dependencies</p>

<pre><code>composer install
</code></pre>

<p>Assuming that your composer installed the packages in your <code>/vendor</code> directory, you should see at least the following when you go inside of /vendor</p>

<pre><code>    |
    +-- composer.json
    |
    +-- vendor/
        |
        +-- composer/
        |
        +-- voodoophp/
</code></pre>

<hr><h2>
<a name="setup--filesystem" class="anchor" href="#setup--filesystem"><span class="octicon octicon-link"></span></a>Setup &amp; Filesystem</h2>

<p>Now the Voodoo is installed, it's time to set it up so it creates the directories for your applications. </p>

<p>Assuming that composer installed packages in your <code>/vendor</code> directory, the Voodoo framework will be in: <code>/vendor/voodoophp/voodoo</code> </p>

<p>Enter the command below</p>

<pre><code>cd vendor/voodoophp/voodoo/src/Voodoo/Voodooist
php ./setup.php
</code></pre>

<p>Once the setup is done, you should have a filesystem similar to this:</p>

<pre><code>|
+-- App/
    |
    +-- .htaccess
    |
    +-- Conf/           
    |
    +-- Www/
        |
        +-- Config.ini
        |
        +-- Main/
            |
            +-- Controller/
            |
            +-- Model/
            |
            +-- Views/
|
+-- assets/
    |
    +-- bootstrap/
    |
    +-- css/
    |
    +-- img/
    |
    +-- js/
    |
    +-- jquery/
|
+-- vendor
        |
        +-- composer/
        |
        +-- voodoophp/
|
+-- composer.json
|
+-- .htaccess
|
+-- index.php
|
+-- robots.txt
</code></pre>

<p><strong>/App</strong> : Contains your application's Modular MVC</p>

<p><strong>/App/Conf</strong> : Contains the configurations, ie: DB.ini for database settings, System.ini for system wide settings, app.json your application schema to create your MVC files on the fly.</p>

<p><strong>/App/Www</strong>: That's your default application which contains your MVC files. When someone accesses your application that's where he/she will land, unless you change it to another application. You can also have <em>/App/Site1</em>, <em>/App/Site2</em>, <em>/App/Api</em> and so on to create multi applications which share the same Voodoo code base.</p>

<p><strong>/assets/</strong>: That's your application shared assets. For your convenience, we added Bootstrap and JQuery.</p>

<p><strong>/vendor/</strong>: Where composer installed the packages</p>

<p><strong>/composer.json</strong>: The composer file</p>

<p><strong>/index.php</strong>: The front-controller file which redirect everything to Voodoo to do its magic!</p>

<hr><h2>
<a name="the-voodooist" class="anchor" href="#the-voodooist"><span class="octicon octicon-link"></span></a>The Voodooist</h2>

<p>The Voodooist is our servant, it will help us create directories and files properly namespaced per PSR-0 in our Voodoo application. </p>

<p>Once our application has been setup, Voodooist requires: /App/Conf/app.json and /App/voodooist.php. These files were created during the initial setup.</p>

<h4>
<a name="--appconfappjson" class="anchor" href="#--appconfappjson"><span class="octicon octicon-link"></span></a>- App/Conf/app.json</h4>

<p><strong>App/Conf/app.json</strong> is a JSON file that contains the layout of your application, including modules, controllers, controller's action etc. It is ran by Voodooist to setup your application. Below is a  basic <strong>app.json</strong></p>

<pre><code>{
    "createPublicAssets" : true,
    "applications" : [
        {
            "name" : "www",
            "modules" : [
                {
                    "name" : "Main",
                    "template" : "Default",
                    "isApi" : false,
                    "omitViews" : false,

                    "controllers" : [
                        {
                            "name" : "Index",
                            "actions" : ["index", "login", "logout", "about-us"]
                        },
                        {
                            "name" : "Account",
                            "actions" : ["index", "info", "preferences"]
                        }
                    ],

                    "models" : [
                        {
                            "name" : "User",
                            "dbAlias" : "MyDB",
                            "table" : "user",
                            "primaryKey" : "id",
                            "foreignKey" : "%s_id"
                        },
                        {
                            "name" : "User/Preference",
                            "dbAlias" : "MyDB",
                            "table" : "user_preference",
                            "primaryKey" : "id",
                            "foreignKey" : "%s_id"
                        }
                    ]
                }
            ]
        }            
    ]
} 
</code></pre>

<h4>
<a name="--appvoodoistphp" class="anchor" href="#--appvoodoistphp"><span class="octicon octicon-link"></span></a>- /App/Voodoist.php</h4>

<p>Once Voodoo is setup, you won't need to go the <code>/vendor/voodoophp/voodoo/src/Voodoo/Voodooist/setup.php</code> to create your application's files. Voodoo created <code>/App/voodooist.php</code> to serve the same purpose. You will need it to create your application's files on the fly based on your /App/Conf/app.json. All files will be properly namespaced per PSR-0, and placed inside of /App under their respective application.</p>

<p>Running the code below, will execute the <code>/App/Conf/app.json</code> set above:</p>

<pre><code>cd /App
php ./voodooist.php
</code></pre>

<p>Upon execution of /App/voodooist.php you will should see a filesystem similar to this:</p>

<pre><code>|
+-- App/
    |
    +-- .htaccess
    |
    +-- Www
        |
        +-- Config.ini
        |
        +-- Main
            |
            +-- Controller/
                |
                +-- BaseController.php (extends Voodoo\Core\Controller)
                |
                +-- Index.php (extends BaseController)
                        ::actionIndex()
                        ::actionLogin()
                        ::actionLogout()
                        ::actionAboutUs()
                |
                +-- Account.php (extends BaseController)
                        ::actionIndex()
                        ::actionInfo()
                        ::actionPreferences()
            |
            +-- Model/
                |
                +-- User.php
                |
                +-- User/Preference.php
            |
            +-- Views/
                |
                +-- Index/
                    |
                    +-- Index.html
                    |
                    +-- Login.html
                    |
                    +-- Logout.html
                    |
                    +-- AboutUs.html
                |
                +-- Account/
                    |
                    +-- Index.html
                    |
                    +-- Info.html
                    |
                    +-- Preferences.html
                |
                +-- _assets/
                    |
                    +-- js/
                    |
                    +-- css/
                    |
                    +-- img/
                |
                +-- _includes/
                    |
                    +-- flash-message.html
                    |
                    +-- pagination.html
                |
                +-- _layouts/
                    |
                    +-- default.html
                    |
                    +-- head-tag.html
                    |
                    +-- footer.html
                    |
                    +-- header.html
|
+-- assets/ [+]
|
+-- vendor/ [+]
|
+-- index.php
|
+-- .htaccess
</code></pre>

<h3>
<a name="application-multi-applications" class="anchor" href="#application-multi-applications"><span class="octicon octicon-link"></span></a>Application (Multi-Applications)</h3>

<p>Application is the upper level of your program. Everything must be in an application. An application can be another site sharing the same Voodoo code base of other application. Hence making Voodoo multi-sites , multi-applications ready.</p>

<p>You can have <em>Site1.com</em>, <em>Site2.com</em>, <em>SiteX.com</em> all under the same environment sharing the same front controller, same Voodoo code base. And since your application is namespaced PSR-0, it's easy to re-use code from other applications.</p>

<p>Inside of each applications are the applications modules. By default Voodoo creates the <strong>WWW</strong> which is the default entry point of your site. In large, Applications are sets of Modules. A more advance app.json looks like that with three applications: <em>Www, AnotherApp, Api</em></p>

<p>/App/Conf/app.json</p>

<pre><code>{
    "createPublicAssets" : true,
    "applications" : [
        {
            "name" : "www",
            "modules" : [
                {
                    "name" : "Main",
                    "template" : "Default",
                    "isApi" : false,
                    "omitViews" : false,

                    "controllers" : [
                        {
                            "name" : "Index",
                            "actions" : ["index", "login", "logout", "about-us"]
                        },
                        {
                            "name" : "Account",
                            "actions" : ["index", "info", "preferences"]
                        }
                    ],

                    "models" : [
                        {
                            "name" : "User",
                            "dbAlias" : "MyDB",
                            "table" : "user",
                            "primaryKey" : "id",
                            "foreignKey" : "%s_id"
                        },
                        {
                            "name" : "User/Preference",
                            "dbAlias" : "MyDB",
                            "table" : "user_preference",
                            "primaryKey" : "id",
                            "foreignKey" : "%s_id"
                        }
                    ]
                }
            ]
        },
        {
            "name" : "AnotherApp",
            "modules" : [
                {
                    "name" : "Main",
                    "template" : "Default",
                    "isApi" : false,
                    "omitViews" : false,

                    "controllers" : [
                        {
                            "name" : "Index",
                            "actions" : ["index", "info"]
                        }
                    ]
                },
                {
                    "name" : "Admin",
                    "template" : "Default",
                    "isApi" : false,
                    "omitViews" : false,

                    "controllers" : [
                        {
                            "name" : "Index",
                            "actions" : ["index", "login"]
                        }
                    ]
                }                    
            ]
        },
        {
            "name" : "Api",
            "modules" : [
                {
                    "name" : "Main",
                    "template" : "",
                    "isApi" : true,
                    "omitViews" : true,

                    "controllers" : [
                        {
                            "name" : "Index",
                            "actions" : ["index", "status"]
                        }
                    ]
                }
            ]
        }             
    ]
} 
</code></pre>

<p>After running /App/voodooist.php you will get the following structure</p>

<pre><code>|
+-- App/
    |
    +-- .htaccess
    |
    +-- Www
        |
        +-- Config.ini
        |
        +-- Main
            |
            +-- Controller/
                |
                +-- BaseController.php (extends Voodoo\Core\Controller)
                |
                +-- Index.php (extends BaseController)
                        ::actionIndex()
                        ::actionLogin()
                        ::actionLogout()
                        ::actionAboutUs()
                |
                +-- Account.php (extends BaseController)
                        ::actionIndex()
                        ::actionInfo()
                        ::actionPreferences()
            |
            +-- Model/
                |
                +-- User.php
                |
                +-- User/Preference.php
            |
            +-- Views/
                |
                +-- Index/
                    |
                    +-- Index.html
                    |
                    +-- Login.html
                    |
                    +-- Logout.html
                    |
                    +-- AboutUs.html
                |
                +-- Account/
                    |
                    +-- Index.html
                    |
                    +-- Info.html
                    |
                    +-- Preferences.html
                |
                +-- _assets/
                    |
                    +-- js/
                    |
                    +-- css/
                    |
                    +-- img/
                |
                +-- _includes/
                    |
                    +-- flash-message.html
                    |
                    +-- pagination.html
                |
                +-- _layouts/
                    |
                    +-- default.html
                    |
                    +-- head-tag.html
                    |
                    +-- footer.html
                    |
                    +-- header.html
    |
    +-- AnotherApp
        |
        +-- Config.ini
        |
        +-- Main
            |
            +-- Controller/
                |
                +-- BaseController.php (extends Voodoo\Core\Controller)
                |
                +-- Index.php (extends BaseController)
                        ::actionIndex()
                        ::actionInfo()
            |
            +-- Views/
                |
                +-- Index/
                    |
                    +-- Index.html
                    |
                    +-- Info.html
                |
                +-- _assets/[+]
                |
                +-- _includes/ [+]
                |
                +-- _layouts/ [+]
        |
        +-- Admin
            |
            +-- Controller/
                |
                +-- BaseController.php (extends Voodoo\Core\Controller)
                |
                +-- Index.php (extends BaseController)
                        ::actionIndex()
                        ::actionLogin()
            |
            +-- Views/
                |
                +-- Index/
                    |
                    +-- Index.html
                    |
                    +-- Login.html
                |
                +-- _assets/[+]
                |
                +-- _includes/ [+]
                |
                +-- _layouts/ [+]
    |
    +-- Api
        |
        +-- Config.ini
        |
        +-- Main
            |
            +-- Controller/
                |
                +-- BaseController.php (extends Voodoo\Core\Controller\Api)
                |
                +-- Index.php (extends BaseController)
                        ::actionIndex()
                        ::actionStatus()
|
+-- assets/ [+]
|
+-- vendor/ [+]
|
+-- index.php
|
+-- .htaccess
</code></pre>

<h3>
<a name="modules" class="anchor" href="#modules"><span class="octicon octicon-link"></span></a>Modules</h3>

<p>Modules are the second level of your application. Application are sets of Modules and Modules are set of MVC application.</p>

<p>Each module contains one set of MVC. By default Voodoo will fall back to <code>Main</code> module if a module is not specified.</p>

<p>That's how the module <strong>Main</strong> looks like in the <strong>Www</strong> application.</p>

<pre><code>|
+-- App/
    |
    +-- .htaccess
    |
    +-- Www
        |
        +-- Config.ini
        |
        +-- Main
            |
            +-- Controller/
                |
                +-- Index.php
                        ::actionIndex()
                        ::actionAbout()
            |
            +-- Model/
                |
                +-- MySampleModel.php
            |
            +-- View/
                |
                +-- Index/
                    |
                    +-- Index.html
                    |
                    +-- About.html
                |
                +-- _assets/
                    |
                    +-- js/
                    |
                    +-- css/
                    |
                    +-- img/
                |
                +-- _includes/
                    |
                    +-- flash-message.html
                    |
                    +-- pagination.html
                |
                +-- _layouts/
                    |
                    +-- default.html
                    |
                    +-- head-tag.html
                    |
                    +-- footer.html
                    |
                    +-- header.html
|
+-- assets/ [+]
|
+-- vendor/ [+]
|
+-- index.php
|
+-- .htaccess
</code></pre>

<p>All classes are namespaced per PSR-0. So the main namespace for Www/Main are as follow:</p>

<pre><code>App\Www\Main
App\Www\Main\Controller
App\Www\Main\Controller\Index
App\Www\Main\Model
App\Www\Main\Model\MySampleModel
</code></pre>

<p>Substitute <code>Www</code> for any other application name you would have the same structure.</p>

<h4>
<a name="what-can-modules-be-used-for" class="anchor" href="#what-can-modules-be-used-for"><span class="octicon octicon-link"></span></a>What can modules be used for?</h4>

<p>Modules can be other sections of your site separated from the main site, let's say <code>App\Www\Admin</code> for an admin section or <code>App\Www\Api</code> to serve an API. It can be anything you want it. It can be used for A/B testing... etc...</p>

<hr><p>Now you understand how Voodoo is structured let's get to know about how everything works</p>

<hr><h2>
<a name="front-controller-indexphp" class="anchor" href="#front-controller-indexphp"><span class="octicon octicon-link"></span></a>Front-Controller: /index.php</h2>

<p>At the root of your application there is the <strong>index.php</strong>. Its job, as a front-controller, is to encapsulate the typical request/route/dispatch/response for the Voodoo application, by invoking  <code>Voodoo\Core\Application</code> </p>

<p>/index.php</p>

<pre><code>&lt;?php

require_once __DIR__."/App/bootstrap.php";

/**
 * Set the application name to use. By default it's Www
 * @type string
 */
$appName = "www";

(new Voodoo\Core\Application(APP_ROOT_DIR, $appName))-&gt;doVoodoo();
</code></pre>

<p>Everythings comes here first then go to where they need to be</p>

<h3>
<a name="front-controller-serving-multiple-application-based-on-url" class="anchor" href="#front-controller-serving-multiple-application-based-on-url"><span class="octicon octicon-link"></span></a>Front-Controller serving multiple application based on URL</h3>

<p>The example below illustrates how you can have multi-sites using the same code base. </p>

<p>Based on the hostname, each site will use a different application directory. You will have to point all the domains to the same IP address for it to work.  </p>

<p>Let's use the /App/Conf/app.json above for our multi-sites</p>

<p>/index.php</p>

<pre><code>&lt;?php

require_once __DIR__."/App/bootstrap.php";

$hostName = Voodoo\Core\Env::getHostName();
switch($hostName) {
    case "api.mysite.com" :
        $appName = "Api";
        break;
    case "crazyapps.com" :
        $appName = "AnotherApp";
        break;
    case "site1.com" :
        $appName = "Site1";
        break;
    default: // mydefaultsite.com
        $appName = "Www";
}

(new Voodoo\Core\Application(APP_ROOT_DIR, $appName))-&gt;doVoodoo();
</code></pre>

<p>So now you have a multi-sites application. Ayibobo!</p>

<hr><h2>
<a name="smart-routing--application-execution" class="anchor" href="#smart-routing--application-execution"><span class="octicon octicon-link"></span></a>Smart Routing &amp; Application Execution</h2>

<p>Voodoo cleverly routes to the right module of the application by using the URL schema</p>

<pre><code>    site.com/Module/Controller/Action/Segments/?paramName=paramValue
</code></pre>

<ul>
<li><p>Module: The container of the MVC application</p></li>
<li><p>Controller: A class accepting the user request</p></li>
<li><p>Action: A method of the controller's class</p></li>
<li><p>Segments: extra parameters that are passed in the action</p></li>
<li><p>ParamName/ParamValue : Parameters from the query url</p></li>
</ul><h3>
<a name="how-does-voodoo-excute-your-application" class="anchor" href="#how-does-voodoo-excute-your-application"><span class="octicon octicon-link"></span></a>How does Voodoo excute your application?</h3>

<p>The very first thing Voodoo requires is an App name. The app name contains all the modules for the application. This is set in the front-controller.</p>

<p>Then it checks for the <strong>Module</strong>, if found, it accesses the directory</p>

<p>Then checks the <strong>Controller</strong>, which is a class, if exists it loads it</p>

<p>Then checks the <strong>Action</strong>, a method in the Controller. If exists it executed the method</p>

<p>But if the Action doesn't exist, it will fall back to the <em>Controller::actionIndex()</em> method</p>

<p>If Controller doesn't exist, it will fall back to the <em>Index.php</em> controller</p>

<p>If Module doesn't exist, it will fall back to <em>Main</em> module</p>

<h3>
<a name="application-routes-customed-routes" class="anchor" href="#application-routes-customed-routes"><span class="octicon octicon-link"></span></a>Application Routes (Customed Routes)</h3>

<p>Sometimes, you may want to change the way the URL is displayed. Maybe because of SEO purposes, or something has changed, or whatever... you will have to alter the routes in the application config fille at: /App/$AppName/Config.ini</p>

<p>Each application contains a <code>Config.ini</code> file. It is loaded by <code>Voodoo\Core\Application</code> upon initialization, and contains the necessary settings such as which controller to load by default, the views settings etc. It also contains your application's routes. </p>

<p>If you open /App/Www/Config.ini, look for the routes key, and you should fine something that looks like this: </p>

<p>/App/Www/Config.ini</p>

<pre><code>[routes]
    path["(:any)"] = "$1"
</code></pre>

<p>It, by default, uses the basic route schema</p>

<pre><code>site.com/Module/Controller/Action/Segments/?paramName=paramValue
</code></pre>

<p>Let's say you have this url path:</p>

<pre><code>site.com/users/profile/info/mardix
</code></pre>

<ul>
<li>users = module</li>
<li>profile = controller</li>
<li>info = action</li>
<li>mardix = segment</li>
</ul><p>But you want to short it to: <code>site.com/profile/mardix</code></p>

<p>You can create a new route path in your Config.ini file like this</p>

<pre><code>[routes]
    path["/profile/(:any)"] = "/Users/Profile/Info/$1"
    path["(:any)"] = "$1"
</code></pre>

<p>Now when someoneone enters <code>site.com/profile/mardix</code> , the application will be re-routed to <code>/Users/Profile/Info/mardix</code>.</p>

<p>You can add as many routes as you want. Also, the routes can have as many directives as you want and they support regex for more advanced matching.</p>

<pre><code>[routes]
    path["/profile/(:any)"] = "/Users/Profile/Info/$1"
    path["/music/([rap|techno|compas]+)/(:num)"] = "/Music/Selection/genre/$1/song/$2"
    path["/blog/(:alphanum)/(:num)/(:any)"] = "Main/Blog/Category/$1/post/$2/$3/"
    path["(:any)"] = "$1"
</code></pre>

<p>The /music route: site.com/music/rap/1526 -&gt; /Music/Selection/genre/{rap}/song/{1526}</p>

<pre><code>Music = module
Selection = controller
genre = action
rap = segement #1, accessed in the controller $this-&gt;getSegment(1)
song = segement #2, accessed in the controller $this-&gt;getSegment(2)
1526 = segement #3, accessed in the controller $this-&gt;getSegment(3)
</code></pre>

<h4>
<a name="stuff-to-understand-about-routes" class="anchor" href="#stuff-to-understand-about-routes"><span class="octicon octicon-link"></span></a>Stuff to understand about routes:</h4>

<ul>
<li><p>To reduce overhead, Application's routes are run before the call to any MVC application</p></li>
<li><p>Re-routing is not a redirect. It routes a path to a new path without changing the URL in the address bar</p></li>
<li><p>Voodoo routes are case incensitive. So accessing <em>/Profile/info/mardix</em> and <em>/pRofile/inFo/mardix</em> will result to the same place</p></li>
<li><p>Only alphanumeric [AZ-09] characters are accepted. All the other one will be ignored when routing. So <em>/pro-file/info/mardix</em> will still result to <em>/Profile/Info/mardix/</em>. Same as <em>/about-us/</em> which result to <em>/aboutus/</em>. So you can cleverly write your SEO friendly url and still keep your application running with no headache.</p></li>
</ul><p><em>It is important to understand that routes are matched in the order they are added, and as soon as a URL matches a route, routing is essentially "stopped" and the remaining routes are never tried. Because the default route matches almost anything, including an empty url, new routes must be place before it.</em></p>

<pre><code>[routes]
    path[/article/(:num)] = "/Blog/Article/Read/$1"
    path["/profile/(:any)"] = "/Main/Profile/Info/$1"
    path["(:any)"] = "$1"
</code></pre>

<hr><p>Now you see how Voodoo works with Front-Controller and Routes, let's get in the sauce of the meat. Ayibobo!</p>

<hr><h2>
<a name="model-view-controller" class="anchor" href="#model-view-controller"><span class="octicon octicon-link"></span></a>Model-View-Controller</h2>

<p>As you already notice above, your MVC application will reside under an $AppName and a $ModuleName.</p>

<ul>
<li><p>Models: <code>App\$AppName\$ModuleName\Model</code></p></li>
<li><p>Controllers: <code>App\$AppName\$ModuleName\Controller</code></p></li>
<li><p>Views: <code>App/$AppName/$ModuleName/Views</code></p></li>
</ul><p>Let's say we are using the <code>Www</code> application and the <code>Main</code> module.</p>

<p><strong>Controller</strong></p>

<p>All controllers will reside under the namespace: <code>App\Www\Main\Controller</code></p>

<p>App/Www/Main/Controller/Index.php</p>

<pre><code>&lt;?php

namespace App\Www\Main\Controller;

use Voodoo;

class Index extends BaseController
{

    public function actionIndex()
    {
        $this-&gt;view()-&gt;setPagetTitle("Hello World");
    }


    public function actionAboutUs()
    {

    }
    //...

}
</code></pre>

<p>All controllers are extended by <code>BaseController</code> which is extended by <code>Voodoo\Core\Controller</code> which contains the methods needed to get params, load views, get models, etc... BaseController is set so you can share functionnalities with other controllers</p>

<p><strong>Views</strong></p>

<p>All views a placed at: <code>App/Www/Main/Views</code></p>

<p>Views, by default, are HTML template files. Based on the separation of concerns principle, the views role are to display data. No logic whatsoevet. To accomplish that, Voodoo uses <em><a href="https://github.com/bobthecow/mustache.php/tree/cd6bfaefd30e13082780b3711c2aa4b92d146b1e">Mustache.php</a></em> as the template engine to render HTML. </p>

<p>Other engines, such as Twig can be used instead of Mustache. </p>

<p>But if you are thinking about using PHP as template system itself, like  <code>&lt;title&gt;&lt;?= $this-&gt;title; ?&gt;&lt;/title&gt;</code> , well my friend, I'm not sure Voodoo is the right tool for you. Anyway...</p>

<p>That's how a template file looks like with mustache template:</p>

<pre><code>&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;{{this.title}}&lt;/title&gt;
    &lt;/head&gt;

    &lt;body&gt;
        &lt;ul&gt;
            {{#articles}}
                &lt;li&gt;{title}&lt;/li&gt;
            {{/articles}}
        &lt;/ul&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p><strong>Model</strong></p>

<p>By default, all models based on our app.json will reside under the namespace: <code>App\Www\Main\Model</code></p>

<p>Also by default, Voodoo uses <a href="https://github.com/mardix/VoodOrm">VoodOrm</a>, a micro-ORM which functions as both a fluent select query API and a CRUD model class. It is extended in <code>\Voodoo\Core\Model</code>.</p>

<p>When models are created in the app.json for example</p>

<pre><code>{
    ...

    "models" : [
        {
            "name" : "User",
            "dbAlias" : "MyDB",
            "table" : "user",
            "primaryKey" : "id",
            "foreignKey" : "%s_id"
        }
    ]
    ...
}
</code></pre>

<ul>
<li><p><strong>name</strong>: the class name</p></li>
<li><p><strong>dbAlias</strong> : the db alias name. We'll get back on it a little down.</p></li>
<li><p><strong>table</strong> : the table name to associate with this class</p></li>
<li><p><strong>primaryKey</strong> : the table primary key</p></li>
<li><p><strong>foreignKey</strong> : the foreign key</p></li>
</ul><p>When the model is created, these settings will be added in the class so it can connect to the DB via PDO</p>

<p><strong>/App/Cong/DB.ini</strong> and <strong>dbAlias</strong> </p>

<p>Voodoo requires that you store your DB settings (dbname, username, password, host) in <code>/App/Conf/DB.ini</code> . Each settings is associated to an alias. </p>

<p>Database connections are managed by  <code>Voodoo\Core\ConnectionManager()</code> which makes sure the connection is connected once per alias, even if it's called 20 billions times (I hope not, lol). </p>

<p>This is how the /App/Conf/DB.ini looks like:</p>

<pre><code>[MyDB] 
    type       = "mysql"
    host       = "localhost" 
    port       = 3306
    user       = "root" 
    password   = "my_password" 
    dbname     = "my_db_name"  
</code></pre>

<p>Where <code>MyDB</code> is the alias name. </p>

<p>So in the app.json <code>"dbAlias" : "MyDB"</code> refers to the the above settings, and the ConnectionManager will use it to connect to the DB.</p>

<p>So having the dbAlias, allows you to have your settings in one place, and if you change anything in it, like host or dbName, all the classes that use <code>MyDB</code> will still work fine. </p>

<p>By extending the model to <code>Voodoo\Core\Model</code>  the connection is cleverly handled by Voodoo, you don't need to do jack. </p>

<p>So once our App/Conf/app.json is ran by App/voodooist.php you should have a model class similar to this:</p>

<p>/App/Www/Main/Model/User.php</p>

<pre><code>&lt;?php

namespace App\Www\Main\Model;

use Voodoo;

class User extends Voodoo\Core\Model
{
    protected $tableName = "user";

    protected $primaryKeyName = "id";

    protected $foreignKeyName = "%s_id";

    protected $dbAlias = "MyDB";

}
</code></pre>

<p>Since Voodoo uses VoodOrm, so automatically we can use all of VoodOrm methods like, <code>App\Www\Main\Model\User::find()</code>, <code>App\Www\Main\Model\User::count()</code> etc...</p>

<p>As you can see, Voodoo avoids mixing database calls, HTML tags and business logic in the same script. That is why we separate each part of our application, and this practice is called Separation of Concerns.</p>

<hr><h2>
<a name="first-voodoo-app" class="anchor" href="#first-voodoo-app"><span class="octicon octicon-link"></span></a>First Voodoo App</h2>

<p>Now that you have learned how Voodoo works, let's create a simple application: Hello World at the path: <code>site.com/hello-world/</code> and <code>site.com/articles</code></p>

<p>To do so, we will use Voodooist to setup our files.</p>

<p>Edit the file: <code>App/Conf/app.json</code></p>

<pre><code>{
    "createPublicAssets" : true,
    "applications" : [
        {
            "name" : "www",
            "modules" : [
                {
                    "name" : "Main",
                    "template" : "Default",
                    "isApi" : false,
                    "omitViews" : false,

                    "controllers" : [
                        {
                            "name" : "Index",
                            "actions" : ["index", "hello-world", "articles"]
                        }
                    ],

                    "models" : [
                        {
                            "name" : "Articles",
                            "dbAlias" : "MyDB",
                            "table" : "articles",
                            "primaryKey" : "id",
                            "foreignKey" : "%s_id"
                        }
                    ]
                }
            ]
        }
    ]
}
</code></pre>

<p>Run this below</p>

<pre><code>    cd /App
    php ./voodooist.php
</code></pre>

<p>And you should get the following filesystem:</p>

<pre><code>|
+-- App/
    |
    +-- .htaccess
    |
    +-- Www
        |
        +-- Config.ini
        |
        +-- Main
            |
            +-- Controller/
                |
                +-- Index.php
                        ::actionIndex()
                        ::actionHelloWorld()
                        ::actionArticles()
            |
            +-- View/
                |
                +-- Index/
                    |
                    +-- Index.html
                    |
                    +-- HelloWorld.html
                    |
                    +-- Articles.html
                |
                +-- _assets/
                    |
                    +-- js/
                    |
                    +-- css/
                    |
                    +-- img/
                |
                +-- _includes/
                    |
                    +-- flash-message.html
                    |
                    +-- pagination.html
                |
                +-- _layouts/
                    |
                    +-- default.html
                    |
                    +-- head-tag.html
                    |
                    +-- footer.html
                    |
                    +-- header.html
|
+-- assets/ [+]
|
+-- vendor/ [+]
|
+-- index.php
|
+-- .htaccess
</code></pre>

<p>App/Www/Main/Controller/Index.php</p>

<pre><code>&lt;?php

namespace App\Www\Main\Controller;

use App\Ww\Main\Model;

class Index extends BaseController
{

    /**
     * The default action.
     **/
    public function actionIndex(){
        $this-&gt;view()-&gt;setPageTitle("Welcome to my Site");
    }

    /**
    * @action hello-world
    */
    public function actionHelloWorld(){
        $this-&gt;view()-&gt;setPageTitle("Hello World");
    }


    /**
    * @action articles
    */
    public function actionArticles(){

        $this-&gt;view()-&gt;setPageTitle("Latest Articles");

        $articles = (new Model\Articles)-&gt;find();

        $articlesData = [];
        foreach ($articles as $article) {
            $articlesData[] = [
                "id" =&gt; $article-&gt;getPK(),
                "title" =&gt; $article-&gt;title,
                "date" =&gt; $this-&gt;formatDate($article-&gt;published_date)
            ];
        }

        $this-&gt;view()-&gt;assign("articles", $articlesData);
    }

}
</code></pre>

<p>App/Www/Main/Model/Articles.php</p>

<pre><code>&lt;?php

namespace App\Www\Main\Model;

use Voodoo;

class Articles extends Voodoo\Core\Model
{

    protected $tableName = "articles";

    protected $primaryKeyName = "id";

    protected $foreignKeyName = "%s_id";

    protected $dbAlias = "MyDB";

}
</code></pre>

<h4>
<a name="create-the-views" class="anchor" href="#create-the-views"><span class="octicon octicon-link"></span></a>Create the Views:</h4>

<p>App/Www/Main/Views/Index/Index.html</p>

<pre><code>&lt;div&gt;
    &lt;h3&gt;Welcome to my site&lt;/h3&gt;

    Blah blah blah
&lt;/div&gt;
</code></pre>

<p>App/Www/Main/Views/Index/HelloWorld.html</p>

<pre><code>&lt;div&gt;
    &lt;h3&gt;Hello World&lt;/h3&gt;

    Blah blah blah
&lt;/div&gt;
</code></pre>

<p>App/Www/Main/Views/Index/Articles.html</p>

<pre><code>&lt;div&gt;
    &lt;h3&gt;Latest Articles&lt;/h3&gt;

    &lt;ul&gt;
        {{#articles}}
            &lt;li&gt;&lt;a href='{{this.controller.url}}/read/{{id}}'&gt;{{title}}&lt;/a&gt;&lt;/li&gt;
        {{/articles}}
    &lt;/ul&gt;

&lt;/div&gt;
</code></pre>

<p><strong>App/Www/Main/Views/_layout/default.html</strong></p>

<p>Voodoo requires a container template file. The container is a place holder for the action's view. The container may contain  header, footer, sidebar etc.. but must include the tag below to include the action's view page</p>

<pre><code>    {{%include @actionView}}
</code></pre>

<p>Technically, the container is the layout of your application, and your action files are files to be included in the layout.</p>

<p>So let's create the container. It is placed at:</p>

<p>/App/Www/Main/Views/_layout/default.html</p>

<pre><code>&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;{{this.title}}&lt;/title&gt;
    &lt;/head&gt;

    &lt;body&gt;
        {{%include _layouts/header}}

            {{%include @actionView}}

        {{%include _layouts/footer}}
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>Now everything is setup and ready to go.</p>

<p>If someone accesses <code>site.com/articles/</code>, he/she will see the list of all articles.</p>

<hr><p>That's pretty much it.</p>

<p>Go to <a href="http://voodoophp.org">VoodooPHP.org</a> for a more in depth documentation.</p>

<hr><p>VoodooPHP was created by Mardix and released under the MIT License.</p>

<p>Enjoy!</p>

<p>(c) This Year  Mardix</p>

<p>(oof! that was a lot of writing, June 9 2013)</p>

<hr>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/mardix/Voodoo/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/mardix/Voodoo/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/mardix/Voodoo"></a> is maintained by <a href="https://github.com/mardix">mardix</a>.</p>

          <p>This page was generated by <a href="pages.github.com">GitHub Pages</a> using the Architect theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>