<!DOCTYPE html>
<!--
default.html
-->
<HTML>
    {{%include _layouts/head-tag}}

    <body>

        {{%include _layouts/header}}

        <div class="container">
            
            {{%include _includes/flash-message}}

            <div class="row">
                <div class="span12">
                    <!-- REQUIRED to show the view's action page -->
                    {{%include @actionView}}               
                </div>
            </div>
        </div>

        {{%include _layouts/footer}}
        
    </body>
</HTML>

