<!-- MENU -->
<div class="well" style="padding: 8px 0;">
    
    <ul class="nav nav-list">
        <li class="nav-header"><i class="icon-wrench"></i> Administration</li>
        <li class="active"><a href="#">Users</a></li>
        <li><a href="#">Roles</a></li>
        <li class="nav-header"><i class="icon-signal"></i> Statistics</li>
        <li><a href="#">General</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Visitors</a></li>
        <li class="nav-header"><i class="icon-user"></i> Profile</li>
        <li><a href="#">My profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li> 
    </ul>
    
</div>
