<!-- Login CSS -->
<link href="{{App.Module.Assets}}/css/login.css" rel="stylesheet"> 

<div id="login-container">

    <div id="login-header">
        <h3>Login</h3>
    </div>

    <div id="login-content" class="clearfix">
        <!-- Errors Will be displayed in herrrrre -->
        {{%include @PageFlashMessage}}

        <form method="POST">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                            <input type="text" class="" name="Email">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                            <input type="password" name="Password">
                    </div>
                </div>
            </fieldset>

            <div id="remember-me" class="pull-left">
                <input type="checkbox" name="RememberMe" />
                <label id="remember-label">Remember Me</label>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-warning btn-large">Login</button>
            </div>
         </form>

    </div>


    <div id="login-extra">
        <p><a href="{{App.Module.Url}}/lost-password/">Lost Password ?</a></p>
    </div>

</div>

