<!-- Login CSS -->
<link href="{{App.Module.Assets}}/css/login.css" rel="stylesheet"> 

<div id="login-container">

    <div id="login-header">
        <h3>Lost Password</h3>
    </div>

    <div id="login-content" class="clearfix">
        <!-- Errors Will be displayed in herrrrre -->
        {{%include @PageMessage}}

        <form method="POST">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                            <input type="text" class="" name="Email">
                    </div>
                </div>
            </fieldset>

            <div class="pull-right">
                <button type="submit" class="btn btn-warning btn-large">Find Password</button>
            </div>
         </form>

    </div>


    <div id="login-extra">
        <p><a href="{{App.Module.Url}}/login/">Login</a></p>
    </div>

</div>
