
<!-- pagination.html
    The pagination template
    By default it uses Twitter's bootstrap framework pagination
-->


<div class="pagination">
    <ul>
        {{#this.pagination}}
            <li class="{{#is_current}}active{{/is_current}} 
                {{#is_first}}first{{/is_first}} 
                {{#is_last}}last{{/is_last}} 
                {{#is_prev}}previous{{/is_prev}} 
                {{#is_next}}next{{/is_next}}"
                >                
                <a href="{{url}}">{{label}}</a>
            </li>
        {{/this.pagination}}
    </ul>
</div>
