#-------------------------------------------------------------------------------
#                         VoodooPHP .htaccess
#                        Front Controller HTACCESS
#-------------------------------------------------------------------------------

IndexIgnore .htaccess * */.??* *~ *# */HEADER*  */README* */_vti*

#LIMIT > ACCEPT POST GET
<Limit GET POST>
    order deny,allow
    deny from all
    allow from all
</Limit>
#LIMIT > ACCEPT POST GET

#LIMIT > DENY PUT DELETE
<Limit PUT DELETE>
    order deny,allow
    deny from all
</Limit>
#LIMIT > DENY PUT DELETE

# Block access to .git folder if exists
RedirectMatch 404 /\\.git(/.*|$)

# Prevent  all .ini file from being accessed
RedirectMatch 404 /*\\.ini(/.*|$)

# If your web host doesn't allow the +FollowSymlinks option, comment it out and use `Options +SymLinksOfOwnerMatch`
#Options +FollowSymlinks
Options +SymLinksIfOwnerMatch

RewriteEngine on

# ReWritebase
# If your application is place inside of another directory, let's say MyVoodooDir
# change the RewriteBase below to RewriteBase /MyVoodooDir
RewriteBase /

# Route everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.(js|css|gif|jpg|jpeg|png|ico|swf|pdf)$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,NC]

#
# Redirect to non WWW
# If people enter your site as WWW, this will be redirected to the non WWW
#RewriteCond %{HTTP_HOST} ^www\.(.*)
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

#END VOODOO
#-------------------------------------------------------------------------------
