<div class="coming-soon-page col-md-5 col-md-offset-3">
    <h1>Coming Soon!</h1>

    <p>
        Our website is launching very soon.
        <br />
        Leave us your email below, and we'll notify the minute we open the doors.
    </p>

      <form action="{{_.controller_url}}/newsletter-signup"  method="POST">
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Notify Me!</button>
      </form>

</div>
