#-------------------------------------------------------------------------------
#                         VoodooPHP
# Block access to /Application
#-------------------------------------------------------------------------------

deny from all