
/**
THIS IS YOUR STYLESHEET

**/

.module-edit-action{
    display:none;
}

#db-alias-mongodb-options{
    display:none;
}

H4.alert-heading span{
    color:#000 !important;
    text-decoration:underline !important;
    font-size:18px;
}