#-------------------------------------------------------------------------------
#                         VoodooPHP
# Block access to /Voodoo
#-------------------------------------------------------------------------------

deny from all